@font-face {
   font-family: "htowert";
   src: url(fonts/HTOWERT.TTF);
}

body{
  background-color:#d9d9d9;
}

#title{
   width: 100%;
   height: 40px;
   border: none;
   outline: none;
   border-radius: 5px;
   background-color: #dfdedeaf;
   color: white;
   font-size: x-large;
}
#description{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
       background-color: #f0f0f0af;
       color: white;
}
.img{
   width: 110px;
   margin-bottom: 5px;

}
.editBtn{
   border: none;
 font-weight: bold;
   font-family: htowert;
   background-color:rgba(0, 0, 0, 0.685);
   color: white;
}
.delPost{
font-family: htowert;
font-weight: bold;
border: none;
}
.border-effect{
   border: 1px solid black;
}  
#postMaking{
   background-color :#3e8f92 ;
border: none;
border-radius: 10px;
}
#previous{
  background-color: #e59494;
}
#send{
  background-color: #e59494;
}
#gallery{
   width: 50px;
   height: 50px;
   background-color: white;
   border-radius: 50px;
}
